/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* custom style */
body{
	line-height: 1.5;
}
.main-header{
        background-color: #2D3040;

}
h1{
	text-align: center;
	font-size: 38px;
	text-transform: capitalize;
	padding-top:10px;
	color: white;
}
nav{
	text-align: center;
	
}
a{
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 10px;
	color: white;
}
h2{
	text-transform: uppercase;
	font-size: 42px;
	padding-left: 12%;
	margin-top: 165px;
	color: white;
}
hr{
	border-top:0.5px solid grey;
	border-bottom:none;
	width: 80%;
	margin-top: 22px;
	margin-left: 12%;
}
.header-text{
	font-size: 20px;
	text-transform: uppercase;
	color: grey;
	padding-left: 12%;
	margin-top: 44px;
	padding-bottom: 170px;
}
.section-1{
	background-color: #4C5C96;
}
h3{
	text-transform: uppercase;
	font-size: 25px;
	padding-left: 12%;
	padding-top: 40px;
	color: white;
}
.img-div{
	padding-left:12%;
}
img{
	margin-top: 13px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
}
.para-text{
	margin-top: 28px;
	color: rgb(226, 218, 218);
	padding-left: 12%;
	width: 80%;
	font-size: 20px;
}
.spread-anchor{
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin-top: 20px;
	padding-left: 11%;
	padding-bottom: 40px;
}
.sec2-bg-color{
	background-color: #45558D;
}
.sec3-bg-color{
	background-color: #3F4E85;
}
.footer{
	height: 100px;
    background-color: #2E3141;
}
.foot-para{
	font-size: 20px;
	color: grey;
	padding-left: 12%;
	padding-top: 38px;
}
